<html>

<script type="text/javascript">
    function addField(){
        var number = document.getElementById("numberOfFields").value;
        var fieldContainer = document.getElementById("fields");
        var input = document.createElement("input");
        input.type = "text";
        input.setAttribute("id", "rmn"+number);
        input.setAttribute("name", "rawMatName"+number);
        fieldContainer.appendChild(input);
        var text_node = document.createTextNode("Quantity:");
        fieldContainer.appendChild(text_node);
        var quantity_input = document.createElement("input");
        quantity_input.type = "number";
        quantity_input.setAttribute("id", "quantity"+number);
        quantity_input.setAttribute("name", "quantity"+number);
        fieldContainer.appendChild(quantity_input);
        fieldContainer.appendChild(document.createElement("br"));
        document.getElementById("numberOfFields").setAttribute("value", parseInt(number)+1)
    }
</script>

<form action="" method="post">
{% csrf_token %}
Name of the list:
<br />
<input name="name_of_list" />
<br />
The color of glass produced:
<br />
<input name="color_of_glass" />
<br />
List the raw materials required:
<div id="fields">
<input type="text" name="rawMatName1" id="rmn1" />Quantity:<input type="number" name="quantity1" id="quantity1" />
<br />
</div>
<button type="submit" value="Submit">Submit</button>
<input type="hidden" name="numberOfFields" id="numberOfFields" value="2" />
</form>

<button name="addField" onclick="addField()">Add Field</button>

</html>
